<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="SHORTCUT ICON" href="/favicon.png" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>     
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcValidation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
</head>

<body style="background-color: #fff">
    <div class="page">
        <div id="div-topo" style="height: 50px; margin-top: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/abacabecalho2.png); background-repeat: no-repeat; width: 1024px; z-index: 10">
            <div style="height: auto; margin-top: 20px; width: 620px; float: left; margin-left: 0px; font-size: 12px; color: #fff; text-align: right">
                <i>Ligue agora:</i> <b>(91)3222-8111</b>
            </div>
            <div style="float: left; height: 67px; width: 120px; margin-top: 5px; margin-left: 16px; background-image: url(~/../../content/themes/base/images/SanGenaro/postit.png); background-repeat: no-repeat; z-index: 10; position: relative">
                
            </div>
            <div style="float: left; height: 50px; width: 59px; margin-top: 0px; margin-left: 2px; background-image: url(~/../../content/themes/base/images/SanGenaro/corretora_imagem.png); background-repeat: no-repeat">
                &nbsp;
            </div>
            <div style="height: 50px; margin-top: 13px; width: 160px; float: left; margin-left: 0px; margin-right: 15px; font-weight: bold; font-size: 11px; color: #fff; text-align: right">
                Seg. à sáb.: de 9 às 19h. Dom.: de 9 às 14h.
            </div>
        </div>
        <div id="div-topo2" style="width: 1024px; margin-top: 0px; z-index: 2">
            <div style="margin-top: -18px; width: 660px; float: left">
                <div style="width: 700px">
                    <div style="height: 100px; text-align: center; width: 150px; margin-top: 0px; margin-left: 20px; background-image: url(~/../../content/themes/base/images/SanGenaro/LogoPinheiroSereni.png); background-repeat: no-repeat; float: left">
                    </div>
                    <div onclick="window.location='/Home/Chat'" style="height: 100px; cursor: pointer; text-align: center; width: 145px; margin-top: 0px; background-position-x: 50px; background-position-y: 10px; background-image: url(~/../../content/themes/base/images/SanGenaro/corretor2.png); background-repeat: no-repeat; float: left">
                        <div style="margin-top: 60px">
                            @Html.ActionLink("Corretor Online", "Chat", "Home", "", new { @style = "color: #000; text-decoration: none" })
                        </div>
                    </div>
                    <div onclick="window.location='/Home/AtendimentoEmail'" style="height: 100px; cursor: pointer; text-align: center; width: 145px; margin-top: 0px; background-position-x: 50px; background-position-y: 10px; background-image: url(~/../../content/themes/base/images/SanGenaro/email2.png); background-repeat: no-repeat; float: left">
                        <div style="margin-top: 60px">
                            @Html.ActionLink("Atendimento por E-mail", "AtendimentoEmail", "Home", "", new { @style = "color: #000; text-decoration: none" })
                        </div>
                    </div>
                    <div onclick="window.location='/Home/LigamosParaVoce'" style="height: 100px; cursor: pointer; text-align: center; width: 145px; margin-top: 0px; background-position-x: 50px; background-position-y: 10px; background-image: url(~/../../content/themes/base/images/SanGenaro/telefone2.png); background-repeat: no-repeat; float: left">
                        <div style="margin-top: 60px">
                            @Html.ActionLink("Ligamos para você", "LigamosParaVoce", "Home", "", new { @style = "color: #000; text-decoration: none;" })
                        </div>
                    </div>
                </div>
                <div style="cursor: pointer; width: 700px; margin-top: 0px; float: left; height: 502px">
                    <div style="height: 509px; width: 314px; margin-top: -8px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/TorreSanGennaro.png); background-repeat: no-repeat; float: left">
                
                    </div>
                    <div style="height: 457px; width: 140px; margin-top: -10px; margin-left: -90px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/carimbo.png); background-repeat: no-repeat; float: left">
                        
                    </div>
                    <div style="height: 427px; width: 290px; margin-top: 100px; margin-left: -43px; float: left">
                        <div style="color: #25486f; width: 290px; font-size: 12px; font-weight: bold; font-family: Verdana; height: 35px; text-align: center; margin-left: -11px">
                            Um espaço diferente de tudo que você já viu, em plena Generalíssimo Deodoro.
                        </div>    
                        <div style="width: 280px">
                            <div style="height: 79px; width: 130px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/minifoto1.png); background-repeat: no-repeat; float: left" onclick="showPic('1')" onmouseover="moldura('ON',this);" onmouseout="moldura('OFF',this);"></div>
                            <div style="height: 79px; width: 130px; margin-top: 0px; margin-bottom: 10px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/minifoto2.png); background-repeat: no-repeat; float: left" onclick="showPic('2')" onmouseover="moldura('ON',this);" onmouseout="moldura('OFF',this);"></div>
                        </div>
                        <div style="width: 280px">
                            <div style="height: 79px; width: 130px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/minifoto3.png); background-repeat: no-repeat; float: left" onclick="showPic('3')" onmouseover="moldura('ON',this);" onmouseout="moldura('OFF',this);"></div>
                            <div style="height: 79px; width: 130px; margin-top: 0px; margin-bottom: 10px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/minifoto4.png); background-repeat: no-repeat; float: left" onclick="showPic('4')" onmouseover="moldura('ON',this);" onmouseout="moldura('OFF',this);"></div>
                        </div>
                        <div style="width: 280px">
                            <div style="height: 79px; width: 130px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/minifoto5.png); background-repeat: no-repeat; float: left" onclick="showPic('5')" onmouseover="moldura('ON',this);" onmouseout="moldura('OFF',this);"></div>
                            <div style="height: 79px; width: 130px; margin-top: 0px; margin-bottom: 10px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/minifoto6.png); background-repeat: no-repeat; float: left" onclick="showPic('6')" onmouseover="moldura('ON',this);" onmouseout="moldura('OFF',this);"></div>
                        </div>
                        <div style="width: 280px; height: 88px">
                            <div style="height: 79px; width: 130px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/minifoto7.png); background-repeat: no-repeat; float: left" onclick="showPic('7')" onmouseover="moldura('ON',this);" onmouseout="moldura('OFF',this);"></div>
                            <div style="height: 79px; width: 130px; margin-top: 0px; margin-bottom: 10px; background-position-x: 0px; background-position-y: 0px; background-image: url(~/../../content/themes/base/images/SanGenaro/minifoto8.png); background-repeat: no-repeat; float: left" onclick="showPic('8')" onmouseover="moldura('ON',this);" onmouseout="moldura('OFF',this);"></div>
                        </div>
                        <!-- Google Map -->
                        <div style="color: #000; width: 273px; text-align: right; cursor: pointer; float: left" onclick="showMapa()">
                            Mapa com a localização
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: -25px; width: 325px; margin-left: 0px; float: left; z-index: 2" >
                <div style="width: 360px; height: 175px; margin-top: -10px; float: left">
                    <img src="~/../../content/themes/base/images/SanGenaro/logosangennaro.png" alt="" border="0" style="z-index: 2; margin-top: 20px" />
                </div>
                <div style="height: 30px; margin-top: -10px; width: 360px; float: left; margin-left: 0px; margin-right: 0px; font-family: Arial; font-weight: bold; font-size: 20px; color: #000000;">
                    Sua vida ganhou um novo ritmo
                </div>
                <div style="line-height: 11px; margin-top: 0px; width: 300px; height: 105px; float: left; margin-left: 3px; padding-right: 0px; font-family: Arial; font-size: 10px; color: #6f6868; text-align: justify">
                    Venha conhecer o San Gennaro, o três suítes, mais gabinete, da Pinheiro Sereni. São 163,49 m2 de área privativa, com sala de estar e jantar, sacada office, sacada gourmet com churrasqueira, lavabo, cozinha, área de serviço, dependência de empregada,
                    área técnica, elevador panorâmico e duas vagas de garagem. O San Gennaro é um lugar diferente de tudo o que você já viu. O seu espaço no ritmo de sua vida. Você vai se surpreender.
                </div>
                <div style="height: 314px; margin-top: -10px; margin-left: 0px; width: 330px; float: left; background-image: url(~/../../content/themes/base/images/SanGenaro/box_fill.png); background-repeat: no-repeat; font-size: 14px; color: #fff; font-weight: bold" >
                    <div style="width: 290px; height: 40px; padding-top: 20px; padding-left: 10px; padding-bottom: 10px; font-family: Arial; text-align: center">Inscreva-se aqui e receba, agora mesmo, o folder digital do San Gennaro.<p></p></div>
                     @RenderBody()
                </div>
            </div>
        </div>
        <!-- Fotos ampliadas do empreendimento -->
        <div id="divFotos" style="visibility: hidden; height: 0px; z-index: 3" >
        </div>
        <div id="divMensagem" style="visibility: hidden; height: 0px">
            <div class="fundoModal">
            </div>
            <div class="modalPopup">
                <div>
                    @ViewBag.Mensagem
                    <p></p>
                    <p></p>
                </div>
                <input type="button" value="Fechar" onclick="closeDetail(this)" />
            </div>
        </div>
        <div id="divMapa" style="visibility: hidden; height: 0px">
            <div class="fundoModal" onclick="closeDetail('divMapa')">
            </div>
            <div class="modalPopupMapa">
                <div id="printMap">
                    <img style="width: auto; height: auto" id="fotoMap" src="~/../../content/themes/base/images/SanGenaro/mapa.png" alt="texto"/>
                </div>
            </div>
        </div>
        <div id="carregando" style="visibility: hidden; height: 0px">
            <div class="fundoModal">
            </div>
            <div class="modalPopupCarregando">
                <div>
                    <img style="width: auto; height: auto" src="~/../../content/themes/base/images/SanGenaro/carregando.gif" alt="texto"/><br />
                </div>
            </div>
        </div>
        <section id="main">
           
        </section>
        <footer>
        </footer>
    </div>
</body>
<script type="text/javascript">

    array1 = new Array("~/../../content/themes/base/images/SanGenaro/fitness.png",
                       "~/../../content/themes/base/images/SanGenaro/espaco_gourmet.png",
                       "~/../../content/themes/base/images/SanGenaro/suite_master.png",
                       "~/../../content/themes/base/images/SanGenaro/salas_de_jantar_e_estar.png",
                       "~/../../content/themes/base/images/SanGenaro/sacada_gourmet.png",
                       "~/../../content/themes/base/images/SanGenaro/salao_de_jogos.png",
                       "~/../../content/themes/base/images/SanGenaro/piscina.png",
                       "~/../../content/themes/base/images/SanGenaro/salao_de_Festas.png")


    function closeDetail(obj) {
        document.getElementById(obj).style["visibility"] = "hidden";
        //document.getElementById('div-topo').style['position'] = 'absolute';
        //document.getElementById('div-topo').style['margin-top'] = '-60px';
        //document.getElementById('div-topo2').style['margin-top'] = '60px';
    }

    function showPic(position) {
        document.getElementById('divFotos').style['visibility'] = 'visible';
        var idx = parseInt(position) - 1;
        var link = '@Url.Action("ShowPic")';
        link = encodeURI(link + '?img=' + array1[idx]);

        //document.getElementById('div-topo').style['position'] = 'initial';
        //document.getElementById('div-topo').style['margin-top'] = '0px';
        $('#divFotos').load(link);



    }


    function moldura(status, obj) {
        if (status == 'ON') {
            obj.style["opacity"] = "0.6";
        }
        else {
            obj.style["opacity"] = "1";
        }
    }
    function showMapa() {
        document.getElementById("divMapa").style["visibility"] = "visible";
    }

    function numeros() {

        if (document.all) // Internet Explorer  
            var tecla = event.keyCode;
        else if (document.layers) // Nestcape  
            var tecla = e.which;
        else if (document.getElementsByTagName("*"))
            var tecla = event.keyCode;
        if ((tecla > 47 && tecla < 58)) // numeros de 0 a 9  
            return true;
        else {
            if (tecla != 8) // backspace  
                //event.keyCode = 0;  
                return false;
            else
                return true;
        }
    }

    function Mascara(objeto) {
        if (numeros(objeto)) {
            if (objeto.value.length == 0)
                objeto.value = '(' + objeto.value;

            if (objeto.value.length == 3)
                objeto.value = objeto.value + ')';

            if (objeto.value.length == 8)
                objeto.value = objeto.value + '-';
            return true;
        }
        else
            return false;
    }


    function Desabilita(id) {
        document.getElementById(id).disabled = "disabled";
        return true;
    }

</script>
</html>
