@model PinheiroSereni.Dominio.Control.Repository

    @if (Model != null)
    {
        if (Model.mensagem.Code > 0)
        {
            <input type="hidden" id="msgError" name="msgError" value="'@Model.mensagem.Message'" />
        }
    }
    else if (ViewBag.Sucesso != null)
        {
            <input type="hidden" id="msgSucesso" name="msgError" value="'@ViewBag.Sucesso'" />
        }
    <div id="divError" style="float: left; width: 200px; color: #000; font-family: Arial; font-size: 12px; visibility: hidden; border-radius: 5px; font-weight: normal">
        <div class="fundoModal">
        </div>
        <div class="modalPopup">
            <div style="float: right; height: 180px; padding: 3px; cursor: pointer">
                <img src="../content/themes/base/images/SanGenaro/x.png" alt="" onclick="closeDetail('divError')" />
            </div>
            <div style="font-family: Verdana; font-weight: bold; padding: 5px; font-size: 14px; color: #808080; height: 25px">Observação</div>
            <div style="background-image: url(../content/themes/base/images/SanGenaro/flamula.png); background-repeat: no-repeat; height: 50px; width: auto">
                &nbsp;
            </div>
            <div>
                @Html.ValidationSummary("", new { @style = "color: #000" })
                @if (Model != null)
                {
                    <div style="margin-left: 21px; margin-top: 15px; font-size: 13px; color: #000; font-weight: normal; text-align: justify; padding-top: 15px; padding-right: 10px">@Model.mensagem.Message </div>
                }
                <p></p>
                <p></p>
            </div>
        </div>
    </div> 
    <div id="divSucesso" style="float: left; width: 200px; color: #000; font-family: Arial; font-size: 12px; visibility: hidden; border-radius: 5px; font-weight: normal">
        <div class="fundoModal">
        </div>
        <div class="modalPopup">
            <div style="float: right; height: 180px; padding: 3px; cursor: pointer">
                <img src="../content/themes/base/images/SanGenaro/x.png" alt="" onclick="closeDetail('divSucesso')" />
            </div>
            <div style="font-family: Verdana; font-weight: bold; padding: 5px; font-size: 14px; color: #808080; height: 25px">Sucesso</div>
            <div style="background-image: url(../content/themes/base/images/SanGenaro/flamula.png); background-repeat: no-repeat; height: 50px; width: auto">
                &nbsp;
            </div>
            <div>
                @{ string _msg = ViewBag.Sucesso; }
                <div style="margin-left: 21px; margin-top: 15px; font-size: 13px; color: #000; font-weight: normal; text-align: center; padding-top: 15px; padding-right: 10px">@Html.DisplayTextFor(m => _msg)</div>
                <p></p>
                <p></p>
            </div>
        </div>
    </div> 
<script type="text/javascript">
    if (document.getElementById("msgError") != null) {
        document.getElementById("divError").style["visibility"] = "visible"
    }
    else if (document.getElementById("msgSucesso") != null) {
        document.getElementById("divSucesso").style["visibility"] = "visible"
    }
</script>  