@model PinheiroSereni.Negocio.Repositories.ProspectRepository

@{
    ViewBag.Title = "Piazza Toscana";
}
@using (Html.BeginForm())
{
    <div style="padding-left: 20px; font-family: Verdana; color: #000; font-size: 9px; width: 285px">
        <div style="height: 23px; padding-top: 3px">
            @Html.TextBoxFor(m => m.prospect.nome, new { @style = "width: 240px; border-radius: 4px; text-transform: uppercase", @maxlength = "50", @placeholder="Nome" })
            <div style="color: #fff; font-size: 9px; padding-top: 2px">@Html.ValidationMessageFor(m => m.prospect.nome,"",new { @style = "color: #000" })</div>
        </div>
        <div style="height: 28px; padding-top: 3px">
             @Html.TextBoxFor(m => m.prospect.email, new { @style = "width: 240px; border-radius: 4px; text-transform: lowercase", @maxlength = "200", @placeholder="E-mail" })
             <div style="color: #fff; font-size: 9px; padding-top: 2px">@Html.ValidationMessageFor(m => m.prospect.email,"",new { @style = "color: #000" })</div>
        </div>
        <div style="float: right; padding-right: 9px; margin-top: 0px; padding-right: 39px">
             <input type="submit" id="btnEnviar" value="Enviar" style="border-radius: 5px; border: none; width: 100px; height: 23px; color: #fff; background-color: #118d6e" />
        </div>
    </div>
    @Html.Partial("Mensagem", Model);
}
