@model PinheiroSereni.Negocio.Repositories.ControlPanel.LoginAdminRepository
@{
    Layout = null;
}
@{
    ViewBag.Title = "Painel de controle";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/funcoes.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>     
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcValidation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>

    
</head>
<body style="background-color: #fff">
    <div class="page">
        <div class="win8-tools">
            <div style="float: left; margin-left: 50px; padding-top: 3px">Painel de Controle</div>
        </div>
    </div>
    <div class="wall-paper">
        @using (Html.BeginForm())
        {
            <div style="width: 50%; height: 600px; float: left" >
                <div class="logo-acesso2" style="float: left; width: 253px; height: 160px; margin-left: 50%; margin-top: 130px"></div>
            </div>
            <div class="logo-acesso3" style="width: 50%; color: #000; height: 600px; float: right">
                <div style="margin-top: 50px; margin-left: 120px; height: 25px; font-family: Tahoma; font-size: 14px; font-weight: bold; color: #f00">ACESSO</div>            
                <div style="margin-top: 0px; margin-left: 120px; height: 15px; font-family: Tahoma; font-size: 11px; color: #1ea169">Para acessar o painel de controle,</div>            
                <div style="margin-top: 0px; margin-left: 120px; height: 15px; font-family: Tahoma; font-size: 11px; color: #1ea169">informe abaixo o seu e-mail e senha</div>     
                <div style="margin-top: 30px; margin-left: 40px; height: 20px; font-weight: bold">
                    @Html.LabelFor(m => m.emailPinheiroSereni)
                </div>            
                <div style="margin-left: 40px; height: 20px">
                    @Html.TextBoxFor(m => m.emailPinheiroSereni, new { @class = "text-box-250" })
                </div>       
                <div style="margin-left: 40px; height: 30px; padding-top: 5px">
                    @Html.ValidationMessageFor(m => m.emailPinheiroSereni,"",new { @class = "font-validation" })
                </div>
                <div style="margin-top: 0px; margin-left: 40px; height: 20px; font-weight: bold">@Html.LabelFor(m => m.autKey)</div>            
                <div style="margin-left: 40px; height: 20px">
                    @Html.PasswordFor(m => m.autKey, new { @class = "text-box-250"})
                </div>            
                <div style="margin-left: 40px; height: 30px; height: 20px; padding-top: 5px">
                    @Html.ValidationMessageFor(m => m.autKey,"",new { @class = "font-validation" })
                </div>
                <div style="margin-left: 40px; height: 40px"><input type="submit" id="btnEntrar" class="button" value="Entrar" /></div>
                <div style="margin-top: 10px; margin-left: 40px; height: 50px; color: #808080; font-family: Cambria; font-size: 10px; text-align: justify; width: 255px">
                    O painel de controle permite que o usuário administrador possa realizar as configurações de controle do HotSite, como cadastrar corretoras e corretores, escolher a 
                    ordem de prioridade para seleção dos corretores na hora de atribuir um e-mail ou uma mensagem SMS, alterar os parâmetros de apoio, bem como emitir os relatórios estatísticos e analíticos
                    de acesso dos clientes e o histórico das conversas realizadas entre o corretor e o cliente.
                </div>  
            </div>
            @Html.Partial("Mensagem", Model);
        }
    </div>
</body>
</html>

