@model PinheiroSereni.Negocio.Repositories.AtendimentoEmailRepository
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "San Gennaro";
}

@using (Html.BeginForm())
{
    <div id="divCad">
        <div class="fundoModal">
        </div>
        <div class="modalPopupCad" style="font-family: Verdana; color: #000000; font-size: 10px;">
            <div style="margin-top: 0px; width: auto; float: left; padding-top: 5px; padding-left: 5px">
                <img src="~/../../content/themes/base/images/SanGenaro/logosangennaro_pequeno.png" alt="" />
            </div>
            <div style="float: right; height: 180px; padding: 10px; cursor: pointer">
                <img src="../content/themes/base/images/SanGenaro/x.png" alt="" onclick="window.location='index'" />
            </div>
            <div style="font-family: Tahoma; font-weight: bold; font-size: 18px; color: #52658C; height: 20px; text-align: right; padding-top: 40px; padding-right: 60px; margin-top: 20px">
                Atendimento &nbsp;<span style="color: #3F4C68">por E-Mail</span>
            </div>
            <div style="background-image: url(../content/themes/base/images/SanGenaro/flamula.png); background-repeat: no-repeat; height: 60px; width: auto; margin-top: 13px">
                &nbsp;
            </div>
            <div style="padding-left: 80px">    
                <div style="color: #808080; font-size: 13px; font-family: Tahoma; padding-top: 5px; height: 25px">
                    Quero saber mais sobre o San Gennaro
                </div>
                <div style="color: #808080; font-size: 10px; font-family: Tahoma; height: 30px">
                    Em alguns minutos um de nossos corretores <br /> responderá as suas dúvidas
                </div>
                <div>
                    @Html.LabelFor(m => m.prospect.nome) 
                    <div style="color: #ff0000; font-size: 8px; padding-top: 2px">
                        @Html.ValidationMessageFor(m => m.prospect.nome,"",new { @style = "color: #ff0000" })
                    </div>
                </div>
                <div style="height: 40px; padding-top: 3px">
                    @Html.TextBoxFor(m => m.prospect.nome, new { @style = "width: 300px; border-radius: 4px; text-transform: uppercase", @maxlength = "50" })
                </div>
                <div>
                    @Html.LabelFor(m => m.prospect.email)
                     <div style="color: #ff0000; font-size: 8px; padding-top: 2px">
                        @Html.ValidationMessageFor(m => m.prospect.email,"",new { @style = "color: #ff0000" })
                    </div>
                </div>
                <div style="height: 40px; padding-top: 3px">
                     @Html.TextBoxFor(m => m.prospect.email, new { @style = "width: 300px; border-radius: 4px; text-transform: lowercase", @maxlength = "200" })
                </div>
                <div>
                    @Html.LabelFor(m => m.prospect.telefone)
                     <div style="color: #ff0000; font-size: 8px; padding-top: 2px">
                        @Html.ValidationMessageFor(m => m.prospect.telefone,"",new { @style = "color: #ff0000" })
                    </div>
                </div>
                <div style="height: 40px; padding-top: 3px">
                     @Html.TextBoxFor(m => m.prospect.telefone, new { @style = "width: 300px; border-radius: 4px", @maxlength = "13", @onkeypress="return Mascara(this);" })
                     <div style="color: #808080; font-size: 8px; font-style: italic">(digite somente números - DDD + Telefone)</div>
                </div>
                <div>
                    @Html.LabelFor(m => m.msg.mensagem)
                     <div style="color: #ff0000; font-size: 8px; padding-top: 2px">
                        @Html.ValidationMessageFor(m => m.msg.mensagem,"",new { @style = "color: #ff0000" })
                    </div>
                </div>
                <div style="height: 40px; padding-top: 3px">
                     @Html.TextAreaFor(m => m.msg.mensagem, new { @style = "width: 300px; border-radius: 4px; height: 50px ", @maxlength = "500" })
                </div>        
                <div>
                    <div style="color: #808080; font-size: 9px; font-family: Verdana; float: left; margin-top: 50px; padding-top: 5px; width: 100px; height: 60px">
                        <p>* Campo obrigatório</p>
                    </div>
                    <div style="margin-top: 50px; width: 205px; float: left">
                         <input type="submit" id="btnEnviar" value="Enviar" style="border-radius: 5px; background-color: #3F4C68; color: #fff; width: 100px; font-weight: bold; float: right" />
                    </div>
                    <div style="margin-top: -100px; float: right; width: auto; padding-right: 5px">
                        <img src="../content/themes/base/images/SanGenaro/email_cad.png" alt="" /> 
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    @Html.Partial("Mensagem", Model);
}
